@import '../base/listas';
@import '../base/variables';

 .seccion-campana{
  
   @extend %estilo-h3;
 }

 .video{
     width: 20px;
     height: 20px;
    
}

 .fondo-rosa{
    background-image: url('../imagenes/fondo.PNG');
}
